In [59]:
import pandas as pd

In [60]:
salary_test = pd.read_csv("SalaryData_Test.csv")
salary_train = pd.read_csv("SalaryData_Train.csv")  #reading two csv's

In [61]:
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# DATA CLEANING

In [62]:
from sklearn.preprocessing import LabelEncoder

In [63]:
le = LabelEncoder()

In [64]:
salary_train['Salary'] = le.fit_transform(salary_train['Salary'])

In [65]:
salary_test['Salary']=le.fit_transform(salary_test['Salary'])

In [66]:
salary_train['Salary'].value_counts()

0    22653
1     7508
Name: Salary, dtype: int64

In [67]:
salary_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  int64
dtypes: int64(6), object(8)
memory usage: 3.2+ MB

In [68]:
salary_train = salary_train.drop(columns=['occupation'])

In [69]:
salary_test = salary_test.drop(columns=['occupation'])

In [70]:
salary_train['education'] = le.fit_transform(salary_train['education'])

In [71]:
salary_test['education'] = le.fit_transform(salary_test['education'])

In [72]:
salary_train['relationship'] = le.fit_transform(salary_train['relationship'])
salary_test['relationship'] = le.fit_transform(salary_test['relationship'])

In [73]:
salary_train['maritalstatus'] = le.fit_transform(salary_train['maritalstatus'])

In [74]:
salary_test['maritalstatus'] = le.fit_transform(salary_test['maritalstatus'])

In [75]:
salary_train['workclass'] = le.fit_transform(salary_train['workclass'])
salary_test['workclass'] = le.fit_transform(salary_test['workclass'])

In [76]:
salary_train = pd.get_dummies(salary_train)

In [77]:
salary_test = pd.get_dummies(salary_test)

In [78]:
x_train = salary_train.drop(columns=['Salary'])
x_test = salary_test.drop(columns=['Salary'])

In [87]:
y_train = salary_train['Salary']
y_test = salary_test['Salary']

# Model Building

In [88]:
from sklearn.naive_bayes import GaussianNB

In [89]:
model = GaussianNB()

In [90]:
model.fit(x_train,y_train)

GaussianNB()

In [91]:
y_pred = model.predict(x_test)

In [92]:
from sklearn.metrics import classification_report

In [93]:
 print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.94      0.83      0.88     12782
           1       0.42      0.68      0.52      2278

    accuracy                           0.81     15060
   macro avg       0.68      0.76      0.70     15060
weighted avg       0.86      0.81      0.83     15060

In [94]:
from sklearn.naive_bayes import MultinomialNB

In [95]:
model1 = MultinomialNB()

In [96]:
model1.fit(x_train,y_train)

MultinomialNB()

In [99]:
ypred1 = model1.predict(x_test)

In [101]:
print(classification_report(ypred1,y_test))

              precision    recall  f1-score   support

           0       0.96      0.79      0.87     13811
           1       0.21      0.62      0.32      1249

    accuracy                           0.77     15060
   macro avg       0.58      0.71      0.59     15060
weighted avg       0.90      0.77      0.82     15060